node_modules
.DS_Store
dist
dev-dist
dist-examples-root
# intellij stuff
.idea/
# routify
.routify/
examples/*/test-results/
examples/*/playwright-report/
examples/*/playwright/.cache/
docs-new/.vitepress/dist
docs-new/.vitepress/cache